/*the classes that start with "own-..." are own classes, the others are adapted from "Bootstrap"*/

:root {
  --bgColor: #FEF4EA;
  --first-font: 'Pacifico',
    cursive;
  --second-font: 'Overpass Mono',
    monospace;
  --navBarHeight: 4rem;
  --footerHeight: 2.4375rem;
}

html {
  font-size: 16px;
}

/* ----------------NavBar classes----------------*/
.own-bg-navBar-footer {
  background-color: var(--bgColor) !important;
}

.own-nav-size {
  width: 100vw;
  height: var(--navBarHeight);
}

.own-nav-main-logo {
  width: auto;
  height: 3.3125rem;
}

.navbar-toggler-icon {
  width: 1.3rem !important;
  height: 1.325rem !important;
}

.container-fluid {
  padding-right: 1.4375rem !important;
  padding-left: 1.4375rem !important;
}

.navbar-toggler {
  padding: 0 0.6rem 0.15rem 0.6rem !important;
  border-radius: 0.25rem;
  transition: none !important;
  color: black !important;
  border-color: none !important;
  border: 1px solid black !important;
}

.navbar-toggler:hover {
  border: 2px solid black !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.offcanvas-header {
  padding: 1rem 2rem !important;
}

.nav-link {
  text-decoration: underline !important;
  font-weight: lighter;
  color: black !important;
  font-family: var(--first-font);
  font-size: 1.8rem;
}

.nav-link:hover {
  color: #C31F5C !important;
}

.offcanvas-body {
  padding: 0 !important;
}

/* ----------------Body App classes----------------*/
.fixed-bottom {
  z-index: 1029 !important;
}

.own-bg-body-app {
  background-image: url(./images/BgBody.jpg);
  background-attachment: fixed;
  background-position: center var(--navBarHeight);
  background-size: auto calc(100vh - var(--navBarHeight));
  height: auto;
  min-height:100vh;
}

.own-body-pages {
  top: var(--navBarHeight);
  width: 100vw;
  height:auto;
  min-height: 100vh;
  padding-top: calc(var(--navBarHeight) + 1.5rem);
  padding-bottom: calc(var(--footerHeight) + 1.5rem);
}

/* ----------------Footer classes----------------*/
.own-footer-size {
  position: relative;
  width: 100%;
  height: var(--footerHeight);
  background-color: var(--bgColor);
}

.own-designer-logo {
  width: auto;
  height: 1.9365rem;
}

.offcanvas-header {
  padding: 0 2rem !important;
}

/* ----------------HomePage classes----------------*/
.own-homePage-h1 {
  color: white;
  font-family: var(--first-font);
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: justify;
}

.own-homePage-h2 {
  color: white;
  font-family: var(--second-font);
  margin: 1.8rem 0 0 0;
  font-size: 1.1rem;
  font-weight: lighter;
}

.own-Whatsapp-icon {
  position: fixed;
  bottom: calc(var(--footerHeight) + 0.5rem);
  right: 0.5rem;
  width: 3.125rem;
  height: auto;
}

.own-Whatsapp-icon:hover {
  transform: scale(1.2);
}