/*the classes that start with "own-..." are own classes, the others are adapted from "Bootstrap"*/

:root {
  --bgColor: #FEF4EA;
  --first-font: 'Pacifico',
    cursive;
  --second-font: 'Overpass Mono',
    monospace;
  --navBarHeight: 64px;
  --footerHeight: 39px;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none !important;
}

/* ----------------NavBar classes----------------*/
.navbar {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.own-bg-navBar-footer {
  background-color: var(--bgColor) !important;
}

.own-nav-size {
  width: 100%;
  min-height: var(--navBarHeight);
}

.own-nav-main-logo {
  width: auto;
  height: 53px;
}

.navbar-toggler-icon {
  width: 20.8px !important;
  height: 21.2px !important;
}

.container-fluid {
  padding-right: 23px !important;
  padding-left: 23px !important;
}

.navbar-toggler {
  padding: 0 9.6px 2.4px 9.6px !important;
  border-radius: 4px;
  transition: none !important;
  color: black !important;
  border-color: none !important;
  border: 1px solid black !important;
  font-size: 20px !important;
}

.navbar-toggler:hover {
  border: 2px solid black !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  
}

.offcanvas-header {
  padding: 16px 32px !important;
}

.nav-link {
  text-decoration: underline !important;
  font-weight: lighter;
  color: black !important;
  font-family: var(--first-font);
  font-size: 28.8px;

  
}

.nav-link:hover {
  color: #C31F5C !important;
}

.active {
  color: #14ACC1 !important;
}/*This is an own Class, is an exception to the name own-...*/

.offcanvas-body {
  padding: 0 !important;
}

/* ----------------Body App classes----------------*/
.fixed-bottom {
  z-index: 1029 !important;
}

.own-bg-body-app {
  background-image: url(../public/images/BgBody.jpg);
  background-attachment: fixed;
  background-position: center var(--navBarHeight);
  /* background-size: auto calc(100vh - var(--navBarHeight));*/
  background-size: cover;
  height: auto;
  min-height: 100vh;
}

.own-body-pages {
  top: var(--navBarHeight);
  width: auto;
  height: auto;
  min-height: 100vh;
  padding-top: calc(var(--navBarHeight) + 1.5rem);
  padding-bottom: calc(var(--footerHeight) + 1.5rem);
}

/* ----------------Footer classes----------------*/
.own-footer-size {
  position: relative;
  width: 100%;
  height: var(--footerHeight);
  background-color: var(--bgColor);
}

.own-contain-footer {
position: absolute;
}

.own-contain-footer:hover {
 transform: scale(3.2);
 background-color: #FEF4EA;
 bottom: var(--footerHeight);
 border-radius: 3px;
}

.own-designer-logo {
  width: auto;
  height: 30.984px;
  border-radius: 3px;
}

.own-p-footer {
  font-family: var(--first-font);
  font-size: 12.8px;
  color: black;
}
/* ----------------HomePage classes----------------*/
.own-homePage-h1 {
  color: white;
  font-family: var(--first-font);
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: justify;
}

.own-homePage-h2 {
  color: white;
  font-family: var(--second-font);
  margin: 1.8rem 0 0 0;
  font-size: 1.1rem;
  font-weight: lighter;
}

.own-Whatsapp-icon {
  position: fixed;
  bottom: calc(var(--footerHeight) + 0.5rem);
  right: 0.5rem;
  width: 3.125rem;
  height: auto;
}

.own-Whatsapp-icon:hover {
  transform: scale(1.2);
}

/* ----------------CategoriesPage classes----------------*/
.own-category-card {
  width: 7.5rem;
  height: 10rem !important;
  background-color: white !important;
  position: relative;
 
}

.own-category-card:hover {
  transform: scale(1.2);
}

.own-img-card {
  width: 7.5rem;
  height: 7.5rem;
   border: 1px solid white
}

.own-category-name {
  position: absolute;
  width: 100%;
  height: 2.5rem;
  font-family: var(--first-font);
  font-size: 0.8rem;
}

.own-category-title {
  font-weight: 400;
  color: black;
}

/* ----------------ProductsPage classes----------------*/
.own-product-card {
  width: 7.5rem;
  height: 11.25rem;
  background-color: white;
  position: relative;
}

.own-product-card:hover {
  transform: scale(1.2);
}

.own-product-name {
  position: absolute;
  width: 100%;
  height: 3.75rem;
  font-family: var(--first-font);
  font-size: 0.8rem;
}

.own-product-title {
  font-weight: 400;
  color: black;
}

.modal-title {
  font-family: var(--first-font);
  font-size: 0.8rem;
}

.own-img-modal-card {
  width: 11.25rem;
  height: 11.25rem;
}

.own-modal-dialog {
  position: relative;
  width: auto;
  
  padding-top: 20%;
}

.own-modal-description {
  font-family: var(--second-font);
  font-size: 0.65rem;
  font-weight: 900;
  margin: 0;
}

.modal-body {
  padding: 0.5rem !important;
}

.modal-header {
  padding: 0.3rem !important;
}

.modal-footer {
  justify-content: space-evenly !important;
  padding: 0.1rem !important;
}

.own-modal-price {
  font-family: var(--second-font);
  font-size: 0.85rem;
  font-weight: 900;
  margin: 0;
}

.own-modal-cart-button {
  font-family: var(--second-font);
  font-size: 0.7rem !important;
  margin: 0;
  background-color: #F67B21 !important;
  color: white !important;
  padding: 0.3rem !important;
}

.own-modal-cart-button:hover {
  background-color: #14ACC1 !important;
}

.own-modal-close-button {
  font-family: var(--second-font);
  font-size: 0.7rem !important;
  margin: 0;
  background-color: #6C757D !important;
  color: white !important;
  padding: 0.3rem !important;
}

/* ----------------ShoppingCartPage and  ShoppingSummaryPage classes----------------*/

.own-cart-card {
  width: 100%;
  height: auto;
  min-height: 3.125rem;
  background-color: white;
  position: relative;
  font-family: var(--first-font);
}

.own-img-cart-card {
  width: 3.125rem;
  height: 3.125rem;

}

.own-product-cart-name {
  width: 50%;
  height: 100%;
  font-family: var(--first-font);
  font-size: 0.8rem;
  color: black;
}

.own-product-cart-title {
  font-weight: 400;
  font-size: 0.8rem;
  color: black;
  font-family: var(--second-font);
  text-decoration: none;
}

.own-product-text-cart {
  width: 100%;
}

.own-btn-close {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: content-box;
  width: 0.9375rem;
  height: 0.9375rem;
  font-size: 0.5rem;
  padding: 0.25em 0.25em;
  border: 0;
  border-radius: 0.25rem;
  background: #C31F5C url(../public/images/closeIcon.svg) center/1em auto no-repeat;
}

.own-btn-close:hover {
background-color: #F67B21;
transform: scale(1.2);
}

.own-total-card {
  font-family: var(--second-font);
  background-color: #14ACC1;
  margin: 0.5rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 0.75rem;
  color: white;
}

.own-Vaciar-cart {
  font-family: var(--second-font);
  background-color:#F67B21;
  margin: 0.5rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 0.75rem;
  color: white;
}

.own-total-card:hover {
  background-color: #C31F5C;
  color: white;
}


.own-Vaciar-cart:hover {
  background-color: #C31F5C;
  color: white;
}

.own-half {
  width: 50% !important;
}


.own-p-total-card {
  font-family: var(--second-font);
  color: white;
  font-size: 0.7rem;
}

/* ----------------CSS media queries----------------*/
@media (min-width: 744px) /*and (max-width: 999px)*/ {
  html {
    font-size: calc(16px * 1.8);
  }
}

