/*the classes that start with "own-..." are own classes, the others are adapted from "Bootstrap"*/

:root {
  --bgColor: #FEF4EA;
  --first-font: 'Pacifico',
    cursive;

}

html {
  font-size: 16px;
}

/* ----------------NavBar classes----------------*/
.own-bg-navBar-footer {
  background-color: var(--bgColor) !important;
}

.own-nav-size {
  width: 100vw;
  height: 4rem;
}

.own-nav-main-logo {
  width: auto;
  height: 3.3125rem;
}

.navbar-toggler-icon {
  width: 1.3rem !important;
  height: 1.325rem !important;
}

.container-fluid {
  padding-right: 1.4375rem !important;
  padding-left: 1.4375rem !important;
}

.navbar-toggler {
  padding: 0 0.6rem 0.15rem 0.6rem !important;
  border-radius: 0.25rem;
  transition: none !important;
  color: black !important;
  border-color: none !important;
  border: 1px solid black !important;
}

.navbar-toggler:hover {
  border: 2px solid black !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.offcanvas-header {
  padding: 1rem 2rem !important;
}

.nav-link {
  text-decoration: underline !important;
  font-weight: lighter;
  color: black !important;
  font-family: var(--first-font);
  font-size: 1.8rem;
}

.nav-link:hover {
  color: #C31F5C !important;
}

/* ----------------Footer classes----------------*/
